

<ion-content>
  <h1>Users Frontend Dashboard</h1>


  <h2>Profile details</h2>


  <app-tabs [tabs]="tabs">
  </app-tabs>

  
  
  <ng-template #profileTab>
    <ion-list>
      <ion-item *ngFor="let detail of getUserFields()">{{detail.name}} : {{detail.value}}</ion-item>
    </ion-list>
  </ng-template>

  
  <ng-template #photosTab>
    <ion-button (click)="addImages()">Add Images</ion-button>
    <app-gallery-comp
      *ngIf="user?.userData?.images"
      [images]="user.userData.images"
    ></app-gallery-comp>
  </ng-template>

</ion-content>

<ng-template #settingsTemplate let-modal>
  <app-form-comp [el]="userForm"></app-form-comp>
</ng-template>

<ng-template #imageTemplate let-modal>
  <p>Image Component</p>

  <app-image
    [setParams]="{ type: 'upload' }"
    [isUpload]="true"
    [uploadPath]="
      vendorId + '/sites/' + siteId + '/users/' + userId + '/assets/images/'
    "
    (onSubmit)="closeModal(modal, $event)"
  ></app-image>

  <!--<app-modules-comp [name]="'image'"></app-modules-comp>-->
</ng-template>
