<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>  
      <ion-title>Product</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content ion-padding [fullscreen]="true">
  
    <!--Image Slider-->
    <swiper-container init="false">
        <swiper-slide *ngFor="let image of product.images; index as imgidx"> 
            <div class="swiper-zoom-container">   
                <img src="{{product.images[imgidx].src}}" class="product-image" width="100%" height="auto" />   
            </div>    
        </swiper-slide>
    </swiper-container>
    <!--Image Slideer Thumbnails-->
    <swiper-container class="thumbs-swiper" [slidesPerView]="5">
        <swiper-slide *ngFor="let image of product.images; index as imgidx">    
                <img src="{{product.images[imgidx].src}}" class="product-image" width="100%" height="auto" />       
        </swiper-slide>
    </swiper-container>  

    <h1>{{product.title}}</h1>

    <div class="product-price">{{product.price}} {{ product.currency }}</div>  
      
    <div class="product-type">{{product.productType}}</div>
    
    <app-cartbutton-shop-comp [item]="product"></app-cartbutton-shop-comp>
    
    <!--<div *ngIf="cartItem !== false">
      <ion-button (click)="minusQuantity(itemQuantity)">-</ion-button>
      <ion-input class="quantityInput" width="30" readonly type="number" #itemQuantity [(ngModel)]="cartItem.quantity" [value]="cartItem.quantity" (ionChange)="updateItem( cartItem, $event.target );" min="1" max="5" placeholder="1"></ion-input>
      <ion-button (click)="addQuantity(itemQuantity)">+</ion-button>
    </div>-->
    <app-quantity-shop-comp [item]="cartItem"></app-quantity-shop-comp>
    
    <div class="product-description" [innerHtml]="product.description | safeHtml"></div>

</ion-content>

<!--
<pre>
{{product | json }}
</pre>
-->
