<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>  
      <ion-title>Product</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content *ngIf="product.id !== null" #mainContent ion-padding [fullscreen]="true">
  
    <!--Image Slider-->
    <swiper-container #mainSwiper class="main-swiper" init="false" >
        <swiper-slide *ngFor="let image of product.images; index as imgidx"> 
            <div class="swiper-zoom-container">   
                <img src="{{product.images[imgidx].src}}" class="product-image" width="100%" height="auto" />   
            </div>    
        </swiper-slide>
    </swiper-container>
    <!--Image Slideer Thumbnails-->
    <swiper-container class="thumbs-swiper" [slidesPerView]="5">
        <swiper-slide *ngFor="let image of product.images; index as imgidx">    
                <img src="{{product.images[imgidx].src}}" class="product-image" width="100%" height="auto" />       
        </swiper-slide>
    </swiper-container>

    <h1>{{product.title}}</h1>

    <div class="product-price">{{product.price}} {{ product.currency }}</div>  
      
    <div class="product-type">{{product.productType}}</div>
 
    <app-cartbutton-shop-comp [product]="product"></app-cartbutton-shop-comp>

    <app-quantity-shop-comp [itemidx]="cartIdx" [product]="product"></app-quantity-shop-comp>
    
    <div class="product-description" [innerHtml]="product.description | safeHtml"></div>

</ion-content>

<!--
<pre>
{{product | json }}
</pre>
-->
