<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>  
      <ion-title>Product</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content *ngIf="product.id !== null" #mainContent ion-padding [fullscreen]="true">
  
    <!--Image Slider-->
    <app-slider-comp 
      [slides]="product.images"
      [slideSuffix]="'src'"
      [slidesPerView]="1"
      [navigation]="false"
      [thumbs]="5"
      [init]="false"
      [zoom]="true"
      >
    </app-slider-comp>
  
    <h1>{{product.title}}</h1>

    <div class="product-price">{{product.price}} {{ product.currency }}</div>  
      
    <div class="product-type">{{product.productType}}</div>
 
    <app-cartbutton-shop-comp [product]="product"></app-cartbutton-shop-comp>
    
    
    <app-quantity-shop-comp [itemidx]="cartIdx" [product]="product"></app-quantity-shop-comp>
    

    <div class="product-description" [innerHtml]="product.description | safeHtml"></div>

</ion-content>

<!--
<pre>
{{product | json }}
</pre>
-->
