<ion-header>
  <ion-toolbar>
    <ion-title>Shop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="service.shop.checkoutComplete == null">
  <p>Shop items go here</p>
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col size="6" size-sm="3" *ngFor="let product of products; index as idx">

        
      
     <img src="{{product.variants[0].image.src}}" class="product-image" width="100%" height="auto" />

      
      <h4><a routerLink="./product/{{product.handle}}">{{product.title}}</a></h4>

      
      <div class="product-price">{{product.variants[0].price.amount}} {{ product.variants[0].price.currencyCode }}</div>
    
      
      <div class="product-type">{{product.productType}}</div>
      <ion-button (click)="service.shop.addToCart(product)">Add to cart</ion-button>
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="service.shop.checkoutComplete == true">
  <h1>Order success!</h1>
  <p>Your order number is <strong>{{service.shop.checkout.order.orderNumber}}</strong>, please keep this for your records.</p>
  <ion-button (click)="service.shop.checkoutComplete = null">Continue</ion-button>
</ion-content>

<ion-content *ngIf="service.shop.checkoutComplete == false">
  <h1>Order cancelled</h1>
  <p>Your order was cancelled due to a declined transaction or gateway failure.</p>
  <ion-button (click)="service.shop.checkoutComplete = null">Continue</ion-button>
</ion-content>