.no-products {
  padding: 20px;
}

/*Add spacing to element before footer */
ion-content ::ng-deep > *:nth-last-child(2) {
  /* Styles for the child before the last */
  padding-bottom: 60px;
}

.col-1 {
  .row {
    .col {
      flex: 1 100%;
      text-align: center;
      padding: 20vh 0px;
      margin: 0px auto;
      max-width: 500px;

      h2 {
        padding-top: 0px;
        padding-bottom: 20px;
        max-width: 300px;
        margin: 0 auto;
      }
    }
  }
}

.col-2 {
  .row {
    .col {
      flex: 1 50%; // Adjust as needed
      // other column styles...
    }
  }

  &:nth-child(even) .row {
    flex-direction: row-reverse;
    .col {
      // Adjust styles for reversed columns
      /*background-color: black;
      color: white;*/
    }
  }
}

.col-3 {
  ion-card {
    width: 33%;
    margin: 1%;
    max-width: 220px;
    text-align: center;
  }
  .icon {
    padding: 60px;
    max-width: 200px;
    margin: 0 auto;
  }
  .row {
    margin: 0 auto;
    justify-content: center;
    padding: 0px;

    .col {
      flex: 1 33%;
      text-align: center;
      padding: 0px;
      margin: 0px;

      h2 {
        padding-top: 0px;
        padding-bottom: 20px;
      }

      h3 {
        font-size: 18px;
        border-bottom: 2px black solid;
        width: auto;
        display: table;
        text-align: center;
        margin: 0 auto;
        height: 50px;
        padding-top: 20px;
        padding-bottom: 20px;
      }

      .content {
        padding: 20px;
        font-size: 12px;
      }

      .content p {
        font-size: 6px !important;
      }
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%; // Adjust as needed
  // other row styles...

  .col-image img {
    vertical-align: top;
  }

  .col-image {
    width: 50%;
  }
  .col-content {
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center; // Horizontally center the content
    align-items: center; // Vertically center the content
  }

  @media screen and (max-width: 400px) {
    flex-direction: column; // Stack columns underneath each other for mobile devices
    &:nth-child(even) {
      flex-direction: column;
    }
    .col {
      width: 100%;
    }
    .col-content {
      text-align: center;
    }
  }
}
