<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Shop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="service.shop.checkoutComplete == null">
<!--search component-->
<app-search-shop-comp [feed]="products" (searchChange)="handleSearchCallback($event)"></app-search-shop-comp>
<!-- filter component-->
<app-filter-shop-comp [feed]="filterProducts" (filterChange)="handleFilterCallback($event)"></app-filter-shop-comp>
 
<div class="no-products" *ngIf="filterProducts.length == 0"><p>No products found, please try another search.</p></div>

<div *ngIf="heroSlides[filterCategory]">
  <app-slider-comp 
      [slides]="heroSlides[filterCategory].slides"
      [slidesPerView]="1"
      [slideSuffix]="'image'"
      [navigation]="false"
      >
  </app-slider-comp>
</div>

<!--<app-feed-comp [feedData]="products"></app-feed-comp>-->

<ion-grid [fixed]="true">
    <ion-row >
      <ion-col size="6" size-sm="3" *ngFor="let product of filterProducts; index as idx">  
      
      <img src="{{product.variants[0].image.src}}" class="product-image" width="100%" height="auto" />
    
      <h4><a routerLink="./product/{{product.handle}}">{{product.title}}</a></h4>
    
      <div class="product-price">{{product.variants[0].price.amount}} {{ product.variants[0].price.currencyCode }}</div>
        
      <div class="product-type">{{product.productType}}</div>
     </ion-col>
  </ion-row>
  </ion-grid>


<div *ngIf="heroSlides[filterCategory]" style="padding-bottom:100px">
  <!-- Additional Content -->
  <div class="row" *ngFor="let page of heroSlides[filterCategory].content; index as idx">
    <div class="col col-image">
      <img src="{{page.image}}"  />
    </div>
    <div class="col col-content">
      <div class="col-wrap">
        <h2>{{page.title}}</h2>
        <div [innerHtml]="page.content"></div>
      </div>
    </div>   
  </div>

  <!-- FAQ -->
<h2>Frequently Asked Questions</h2>
<p>Below are list of questions that are popular from existing customers</p>

<app-accordion-comp [list]="heroSlides[filterCategory].questions"></app-accordion-comp>  

  <!-- filter component-->
  <h2>Get In Touch</h2>
  <app-contactform-comp></app-contactform-comp>

  <br><br><br><br>

</div>

</ion-content>

<ion-content *ngIf="service.shop.checkoutComplete == true">
  <h1>Order success!</h1>
  <p>Your order number is <strong>{{service.shop.checkout.order.orderNumber}}</strong>, please keep this for your records.</p>
  <ion-button (click)="service.shop.checkoutComplete = null">Continue</ion-button>
</ion-content>

<ion-content *ngIf="service.shop.checkoutComplete == false">
  <h1>Order cancelled</h1>
  <p>Your order was cancelled due to a declined transaction or gateway failure.</p>
  <ion-button (click)="service.shop.checkoutComplete = null">Continue</ion-button>
</ion-content>