<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>-->

<ion-header class="main-header">
  <ion-toolbar class="toolbar">
    <ion-title style="text-align: center; color: white"
      >Site In An Hour</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="showHolding" id="holdingPanel" class="container center full">
    <div *ngIf="isHoldingPending">
      <ion-spinner class="center" name="circular"></ion-spinner>
      <br /><br />

      {{ message }}
    </div>

    <div *ngIf="isHoldingFailed">
      <ion-icon name="close-circle-outline"></ion-icon>

      <br /><br />

      {{ message }}
    </div>

    <div *ngIf="isHoldingSuccess">
      <ion-icon name="checkmark-circle-outline"></ion-icon>

      <br /><br />

      {{ message }}
    </div>
  </div>

  <div
    *ngIf="showCreate"
    id="createPanel"
    class="container"
    [ngClass]="{
      generating: generating === true,
      generated: generated && !!aiform
    }"
  >
    <div *ngIf="!generated && !generating && !aiform">
      <form (ngSubmit)="onSubmit()">
        <!-- Section 1 -->
        <div *ngIf="currentStage === 1">
          <h2>Let's get started</h2>

          <p>Just three questions, and let our AI do the rest.</p>

          <p>
            <ion-button size="small" (click)="doDemo(); isDemoClicked = true">
              <span *ngIf="!isDemoClicked">Try an example</span>
              <span *ngIf="isDemoClicked">
                <ion-icon name="refresh"></ion-icon> Try another
              </span>
            </ion-button>
            <a
              *ngIf="isDemoClicked"
              (click)="resetForm()"
              style="
                text-decoration: underline;
                padding-left: 20px;
                vertical-align: middle;
              "
              >Clear all</a
            >
          </p>

          <br /><br />

          <ion-item lines="none">
            <ion-input
              label="1) What's your business called?"
              class="form-input"
              labelPlacement="stacked"
              [(ngModel)]="companyName"
              maxlength="250"
              [counter]="true"
              name="company-title"
              required
            ></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-textarea
              [autoGrow]="true"
              label="2) Give a brief description about your business"
              class="form-input"
              placeholder="eg. Who you are, what you do, where you're based, what services you offer."
              labelPlacement="stacked"
              maxlength="500"
              [counter]="true"
              [(ngModel)]="companyDescription"
              name="company-description"
              required
            ></ion-textarea>
          </ion-item>
          <ion-item lines="none">
            <ion-textarea
              [autoGrow]="true"
              label="3) What products do you sell?"
              class="form-input"
              maxlength="250"
              [counter]="true"
              placeholder="eg. fitness courses, hand-made jewellery, organic coffee, cats on shirts"
              labelPlacement="stacked"
              [(ngModel)]="companyProducts"
              name="company-products"
              required
            ></ion-textarea>
          </ion-item>

          <br /><br /><br /><br />
        </div>

        <!-- Section 2 -->
        <div *ngIf="currentStage === 2">
          <h2>A few optionals</h2>

          <p>
            Use photos from your Instagram, or receive messages to your email.
          </p>
          <br /><br />

          <ion-item>
            <ion-input
              label="Got an email?"
              placeholder="Enter your email here"
              labelPlacement="stacked"
              [(ngModel)]="companyEmail"
              name="company-email"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              label="Got Instagram?"
              placeholder="Enter your username here"
              labelPlacement="stacked"
              [(ngModel)]="companyInstagram"
              name="company-instagram"
            ></ion-input>
          </ion-item>
        </div>

        <!-- Section 3 -->
        <div *ngIf="currentStage === 3" class="center">
          <h2>You're all set</h2>

          <p>
            Thanks, that's all we need! Just click below to create your site.
          </p>
          <br /><br />

          <ion-button class="center" expand="full" type="submit"
            ><ion-icon name="color-wand" class="button-icon"></ion-icon> Make
            some magic</ion-button
          >
        </div>
      </form>

      <div class="form-nav">
        <ion-button
          [disabled]="currentStage == 1"
          size="small"
          (click)="previousStage()"
          >Back</ion-button
        >
        <ion-button size="small" (click)="resetForm()">Reset</ion-button>
        <ion-button
          [disabled]="currentStage == 3"
          size="small"
          (click)="nextStage()"
          >Next</ion-button
        >
      </div>
    </div>
    <div *ngIf="generating">
      {{ message }}

      <ion-button
        *ngIf="isFailed"
        (click)="
          showSection('create');
          onSubmit();
          generated = false;
          generating = true;
          aiform = false;
          isFailed = false;
          message = 'Working on it'
        "
        >Try again</ion-button
      >
    </div>

    <div *ngIf="generated && !!aiform">
      <p>Your website is ready.</p>
      <ion-button (click)="showSection('preview')">View</ion-button>

      <!--{{generated | json}}-->
    </div>
  </div>

  <div
    id="previewPanel"
    *ngIf="showPreview"
    [ngClass]="{
      generating: generating === true,
      'is-loaded': showPreview,
      'is-changing': isChanging === true,
      'is-changed': isChanging === false
    }"
    #previewPanel
  >
    <div *ngIf="!generated">Working on it..</div>

    <div *ngIf="generated" style="padding-bottom: 300px">
      <!--website displays here-->

      <div class="preview-area theme{{ activeTheme }}">
        <!-- main menu-->
        <ion-menu menuId="builderMain" contentId="main-page">
          <ion-header>
            <ion-toolbar>
              <ion-title>Main Menu</ion-title>
            </ion-toolbar>
          </ion-header>
          <!--menu content-->
          <ion-content class="ion-padding">
            <ion-list>
              <ion-item *ngFor="let page of generated; let i = index">
                <div class="menu-container">
                  <ion-menu-toggle auto-hide="false">
                    <!--<ion-item (click)="changePage(i)" routerDirection="root" [routerLink]="[page.url]" [queryParams]="getSearchParams(false)" lines="none"
               detail="false" [class.selected]="activeIndex == i">         
               <ion-label>{{ page.title }}</ion-label>    
             </ion-item>-->
                    <ion-item
                      (click)="changePage(i)"
                      lines="none"
                      detail="false"
                      [class.selected]="activeIndex == i"
                    >
                      <ion-label>{{ page.title }}</ion-label>
                    </ion-item>
                  </ion-menu-toggle>
                </div>
              </ion-item>
            </ion-list>
          </ion-content>
        </ion-menu>

        <!-- main content-->
        <div class="ion-page" id="main-page">
          <!--page header-->
          <ion-header>
            <ion-toolbar>
              <!--<ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>-->
              <ion-buttons slot="start">
                <ion-menu-button menu="builderMain"></ion-menu-button>
              </ion-buttons>
              <ion-title>{{ companyName }}</ion-title>
            </ion-toolbar>
          </ion-header>
          <!--page content-->
          <ion-content>
            <!-- main page preview -->

            <!--{{generated | json}}-->
            <div id="hero">
              <div id="hero-container">
                <h1
                  class="fade-up"
                  appContentEditable
                  [(contenteditableModel)]="activePage.title"
                  [attr.contenteditable]="isEditing"
                  data-text="Enter a heading here"
                  (input)="recordChange()"
                  [innerHTML]="
                    activePage.title == 'Home'
                      ? activePage.subheading
                      : activePage.title
                  "
                ></h1>
                <h2
                  appContentEditable
                  [(contenteditableModel)]="activePage.subheading"
                  [attr.contenteditable]="isEditing"
                  data-text="Enter a subheading here"
                  (input)="recordChange()"
                  [innerHTML]="
                    activePage.title == 'Home' ? '' : activePage.subheading
                  "
                ></h2>
              </div>
              <img
                (click)="onImageChange($event, activePage)"
                [src]="activePage.image"
                id="hero-image"
              />
            </div>

            <div id="main-content">
              <div class="container">
                <div class="col-1">
                  <div class="row">
                    <div
                      class="page-content col"
                      [(contenteditableModel)]="activePage.content"
                      [attr.contenteditable]="isEditing"
                      data-text="Enter some content here"
                      (input)="recordChange()"
                      [innerHTML]="activePage.content"
                    ></div>
                  </div>
                </div>
              </div>
              <!--{{activePage.layout[0].structure | json}}-->

              <div
                class="{{ layout.params.parentclasses }} layout anim"
                *ngFor="let layout of activePage.layout; let lidx = index"
              >
                <div class="row {{ layout.params.classes }}" @rowAnimation>
                  <div *ngIf="isEditing" class="editor-panel editor-panel-row">
                    <ion-button
                      (click)="moveRowUp(lidx)"
                      [disabled]="lidx === 0"
                      ><ion-icon name="chevron-up-outline"></ion-icon
                    ></ion-button>
                    <ion-button
                      (click)="moveRowDown(lidx)"
                      [disabled]="lidx === activePage.layout.length - 1"
                      ><ion-icon name="chevron-down-outline"></ion-icon
                    ></ion-button>

                    <ion-button (click)="copyRow(lidx)"
                      ><ion-icon name="copy-outline"></ion-icon
                    ></ion-button>
                    <ion-button (click)="deleteRow(lidx)"
                      ><ion-icon name="close-outline"></ion-icon
                    ></ion-button>
                  </div>

                  <div
                    class="col {{
                      hasProperty(col, 'image') ? 'col-image' : 'col-content'
                    }}"
                    *ngFor="let col of layout.structure; let cidx = index"
                    @columnAnimation
                  >
                    <div
                      *ngIf="isEditing"
                      class="editor-panel editor-panel-col"
                    >
                      <ion-button
                        (click)="swapColumns(lidx, cidx, cidx - 1)"
                        [hidden]="cidx === 0"
                        ><ion-icon name="chevron-back-outline"></ion-icon
                      ></ion-button>
                      <ion-button
                        (click)="swapColumns(lidx, cidx, cidx + 1)"
                        [hidden]="cidx === layout.structure.length - 1"
                        ><ion-icon name="chevron-forward-outline"></ion-icon
                      ></ion-button>
                    </div>

                    <div
                      class="{{
                        hasProperty(col, 'image') ? '' : 'content-wrap'
                      }}"
                    >
                      <div
                        class="mod"
                        *ngFor="let mod of col; let midx = index"
                      >
                        <div *ngIf="mod.image">
                          <img
                            (click)="onImageChange($event, mod)"
                            [src]="mod.image"
                            style="display: block; width: 100%; height: auto"
                          />
                        </div>

                        <div
                          class="mod-heading"
                          *ngIf="mod.hasOwnProperty('heading')"
                        >
                          <h2
                            appContentEditable
                            [attr.contenteditable]="isEditing"
                            [(contenteditableModel)]="mod.heading"
                            (input)="recordChange()"
                            [innerHtml]="mod.heading"
                            data-text="Enter a heading here"
                          ></h2>
                        </div>

                        <div
                          class="mod-content"
                          *ngIf="mod.hasOwnProperty('content')"
                          appContentEditable
                          [(contenteditableModel)]="mod.content"
                          [attr.contenteditable]="isEditing"
                          (input)="recordChange()"
                          [innerHtml]="mod.content"
                          data-text="Enter some content here"
                        ></div>
                        <!--<ion-button *ngIf="col.link" [routerLink]="[col.link.path]" [queryParams]="col.link.query">{{col.link.label}}</ion-button>-->
                      </div>
                    </div>
                  </div>
                  <!--cols-->
                </div>
                <!--row-->

                <div *ngIf="layout.modules" class="row module">
                  <div
                    class="mod-{{ modules[module.id].name }}"
                    *ngFor="let module of layout.modules; let midx = index"
                  >
                    {{ module | json }}
                    <h2
                      *ngIf="module.title && module.title !== ''"
                      appContentEditable
                      [(contenteditableModel)]="module.title"
                      [attr.contenteditable]="isEditing"
                      (input)="recordChange()"
                      [innerHtml]="module.title"
                      data-text="Enter a heading here"
                    ></h2>

                    <div *ngIf="modules[module.id]">
                      <app-modules-comp
                        [name]="modules[module.id].name"
                        [params]="module.params"
                        (callback)="onModuleCallback($event, module)"
                      ></app-modules-comp>

                      <!-- <div [ngSwitch]="modules[module.id].name">
                        <div *ngSwitchCase="'form'">
                          <app-contactform-comp></app-contactform-comp>
                        </div>

                        <div *ngSwitchCase="'faq'">
                          <app-accordion-comp></app-accordion-comp>
                        </div>

                        <div *ngSwitchCase="'gallery'">
                          <app-gallery-comp
                            [type]="
                              module.params.type ? module.params.type : false
                            "
                            [username]="
                              module.params.username
                                ? module.params.username
                                : false
                            "
                          ></app-gallery-comp>
                        </div>
                      </div>
                    --></div>
                    <!--let mod-->
                  </div>
                  <!--modules-->
                </div>
              </div>
              <!--layout-->
            </div>
            <!--main content-->

            <!-- footer-->
            <div id="footer">
              <div id="footer-wrap">
                <ion-row>
                  <ion-col size="9">
                    <a>Privacy Policy</a><br />
                    <a>Refund Policy</a><br />
                    <a>Shipping Policy</a><br />
                    <a (click)="changePage(1)">About Us</a><br />
                    <a (click)="changePage(4)">Contact Us</a><br />
                    <a>Terms and Conditions</a>
                  </ion-col>
                  <ion-col class="col-2">
                    <a
                      href="https://www.facebook.com/"
                      target="_blank"
                      class="social-icon-link"
                      ><ion-icon
                        name="logo-facebook"
                        class="social-icon"
                      ></ion-icon
                    ></a>

                    <a
                      href="https://www.instagram.com/"
                      target="_blank"
                      class="social-icon-link"
                      ><ion-icon
                        name="logo-instagram"
                        class="social-icon"
                      ></ion-icon
                    ></a>
                  </ion-col>
                </ion-row>
                <div id="copyright-notice">
                  Copyright {{ companyName }} {{ currentYear }}
                </div>
              </div>
            </div>
          </ion-content>
        </div>
      </div>
      <!--preview theme area -->

      <!--site header and menu-->
      <!--<ion-menu menuId="main" side="start" contentId="main-content" style="margin-top:100px">
      <ion-header>
        <ion-toolbar>
          <ion-title>{{generated[0].title}}</ion-title>
        </ion-toolbar>
      </ion-header>-->

      <!--main site navigation-->
      <!--<ion-list>
       <ion-item *ngFor="let page of generated; let i = index">
         <div class="menu-container"> 
          <ion-menu-toggle auto-hide="false">
          <ion-item (click)="activeIndex = i; activePageTitle = page.title; activePage = page" routerDirection="root" [routerLink]="[page.url]" [queryParams]="getSearchParams(false)" lines="none"
            detail="false" [class.selected]="activeIndex == i">        
            <ion-label>{{ page.title }}</ion-label>   
          </ion-item>
          </ion-menu-toggle>
        </div>
      </ion-item>
    </ion-list>
  </ion-menu>
-->

      <div class="bottom-panel">
        <div
          *ngIf="
            service.auth.isLoggedIn &&
            siteId !== false &&
            !isCreating &&
            isEditing
          "
        >
          <ion-button
            class="tool-button"
            fill="clear"
            (click)="undoChange()"
            [disabled]="activeVersion == 0"
          >
            <ion-icon name="arrow-undo-circle-outline"></ion-icon>
            <ion-label>Undo</ion-label>
          </ion-button>
          <ion-button
            (click)="redoChange()"
            [disabled]="activeVersion == versions.length - 1"
            ><ion-icon name="arrow-redo-circle-outline"></ion-icon>
            <ion-label>Redo</ion-label>
          </ion-button>
          <ion-button (click)="changeTheme()"
            ><ion-icon name="color-wand-outline"></ion-icon>
            <ion-label>Theme</ion-label>
          </ion-button>
          <ion-button (click)="saveChanges()"
            ><span *ngIf="!isSaving">
              {{ isSaved ? "Saved" : "" }}
              <ion-icon *ngIf="!isSaved" name="checkmark-outline"></ion-icon>
            </span>
            <ion-spinner
              *ngIf="isSaving"
              class="center"
              name="circular"
            ></ion-spinner>
            <ion-label>Save</ion-label>
          </ion-button>
          <ion-button routerDirection="root" [routerLink]="'/dashboard'">
            <ion-icon name="home-outline"></ion-icon>
            <ion-label>Dashboard</ion-label>
          </ion-button>
        </div>

        <div *ngIf="service.auth.isLoggedIn && siteId == false && isCreating">
          <p>What do you think?</p>

          <ion-button (click)="changeTheme()">
            <ion-icon name="color-wand-outline"></ion-icon>
            <ion-label> Change Theme</ion-label>
          </ion-button>
          <ion-button
            (click)="showSection('create'); generated = false; aiform = false"
          >
            <ion-icon name="create"></ion-icon>
            <ion-label>Start Again</ion-label>
          </ion-button>
          <ion-button
            (click)="
              showSection('create');
              onSubmit();
              generated = false;
              generating = true;
              aiform = false;
              isFailed = false;
              message = 'Working on it'
            "
            ><ion-icon name="refresh"></ion-icon>
            <ion-label>Re-generate</ion-label>
          </ion-button>
          <ion-button (click)="storeSite()">
            <ion-icon name="checkmark-circle"></ion-icon>
            <ion-label>Save & Publish</ion-label>
          </ion-button>
        </div>

        <div *ngIf="!service.auth.isLoggedIn && isCreating">
          <p>What do you think?</p>

          <!--<ion-button
            (click)="
              showSection('create');
              onSubmit();
              generated = false;
              generating = true;
              aiform = false;
              message = 'Working on it'
            "
            >Change it</ion-button
          >-->

          <ion-button (click)="changeTheme()">
            <ion-icon name="color-wand-outline"></ion-icon>
            <ion-label>Change Theme</ion-label>
          </ion-button>

          <ion-button
            (click)="showSection('create'); generated = false; aiform = false"
          >
            <ion-icon name="create"></ion-icon>
            <ion-label>Start Again</ion-label>
          </ion-button>
          <ion-button
            (click)="
              showSection('create');
              onSubmit();
              generated = false;
              generating = true;
              aiform = false;
              isFailed = false;
              message = 'Working on it'
            "
          >
            <ion-icon name="refresh"></ion-icon>
            <ion-label>Re-generate</ion-label>
          </ion-button>

          <ion-button (click)="showSection('publish')">
            <ion-icon name="checkmark-circle"></ion-icon>
            <ion-label>Save & Publish</ion-label>
          </ion-button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="showPublish" class="container">
    <h1>Thank you for using SiteInAnHour</h1>

    <p>Keep building your site with us</p>
    <ion-button (click)="storeSite()"
      ><ion-icon name="power" class="button-icon"></ion-icon>
      Continue</ion-button
    >

    <p>Or download the content and all the files</p>
    <ion-button
      ><ion-icon name="cloud-download" class="button-icon"></ion-icon> Download
      your site for $5</ion-button
    >

    <div class="bottom-panel">
      <ion-button
        (click)="
          showSection('create');
          generated = false;
          generating = false;
          aiform = false
        "
        ><ion-icon name="arrow-back" class="button-icon"></ion-icon> Start
        again</ion-button
      >
    </div>
  </div>
</ion-content>

<!--
<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" (click)="showSection('create')">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Create</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" (click)="showSection('preview')">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Preview</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" (click)="showSection('publish')">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Publish</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
-->
