<ng-template #iniTemplate let-data="context">
  <ion-button
    *ngIf="selectedFile == null && isGapiInitialized && !isFiles"
    (click)="signIn()"
    >Connect with Google</ion-button
  >

  <div *ngIf="selectedFile == null && isFiles === true">
    <ion-button [disabled]="navigationStack.length == 0" (click)="back()"
      >Go Back</ion-button
    >

    <!--<select (change)="listFiles('', $event)">
      <option
        *ngFor="let folder of recentFolders; let idx = index"
        [value]="folder.id"
      >
        {{ folder.name }}
      </option>
    </select>-->

    <!-- View Toggle Buttons -->
    <!--<ion-segment [(ngModel)]="viewMode" class="view-toggle">
      <ion-segment-button value="grid">
        <ion-icon name="grid-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="list">
        <ion-icon name="list-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>-->

    <div *ngIf="files.length == 0">No images or video in this folder.</div>

    <!-- File Navigation Container -->
    <ion-grid [ngClass]="viewMode">
      <ion-row>
        <ion-col
          size="6"
          size-md="3"
          *ngFor="let file of files"
          (click)="doFile(file)"
        >
          <ion-card class="file-item">
            <!-- Folder Icon -->
            <ng-container
              *ngIf="file.mimeType === 'application/vnd.google-apps.folder'"
            >
              <ion-thumbnail>
                <ion-icon name="folder" class="folder-icon"></ion-icon>
              </ion-thumbnail>
              <ion-card-title>{{ file.name }}</ion-card-title>
            </ng-container>

            <!-- Image or Video Thumbnail with Type Icon -->
            <ng-container
              *ngIf="
                file.mimeType.startsWith('image/') ||
                file.mimeType.startsWith('video/')
              "
            >
              <ion-thumbnail class="file-thumbnail">
                <img [src]="getFileThumbnail(file)" alt="File Thumbnail" />
                <ion-icon
                  *ngIf="file.mimeType.startsWith('image/')"
                  name="image-outline"
                  class="type-icon"
                ></ion-icon>
                <ion-icon
                  *ngIf="file.mimeType.startsWith('video/')"
                  name="videocam-outline"
                  class="type-icon"
                ></ion-icon>
              </ion-thumbnail>
              <ion-card-title>{{ file.name }}</ion-card-title>
            </ng-container>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ng-template>

<div *ngIf="selectedFile !== null">
  <img
    *ngIf="selectedFile.mimeType.startsWith('image/') && !isLoadingFile"
    [src]="selectedImage"
    width="100%"
  />

  <video
    *ngIf="selectedFile.mimeType.startsWith('video/') && !isLoadingFile"
    controls
  >
    <source
      [src]="getFileUrl(selectedFile)"
      type="{{ selectedFile.mimeType }}"
    />
  </video>

  <p>{{ errorMessage | json }}</p>

  <!-- Loading File -->
  <ion-spinner
    *ngIf="isLoadingFile"
    class="center"
    name="circular"
  ></ion-spinner>
</div>
