<ng-template #iniTemplate let-files="context">
  <!-- <ion-button
    *ngIf="selectedFile == null && isGapiInitialized"
    (click)="signIn()"
    >Connect with Google</ion-button
  >

  <ion-list *ngIf="selectedFile == null && files.length > 0">
    <ion-item *ngFor="let file of files" (click)="selectFile(file)">
      <ion-label>{{ file.name }}</ion-label>
    </ion-item>
  </ion-list>-->
  ini
</ng-template>

<div *ngIf="selectedFile !== null">
  <img [src]="selectedFile" width="100%" />
</div>
