<!--<ng-template #iniTemplate let-files="context">
   <ion-button
    *ngIf="selectedFile == null && isGapiInitialized"
    (click)="signIn()"
    >Connect with Google</ion-button
  >

  <ion-list *ngIf="selectedFile == null && files.length > 0">
    <ion-item *ngFor="let file of files" (click)="selectFile(file)">
      <ion-label>{{ file.name }}</ion-label>
    </ion-item>
  </ion-list>

</ng-template>-->

<ion-button *ngIf="selectedFile == null && isGapiInitialized" (click)="signIn()"
  >Connect with Google</ion-button
>

<div *ngIf="selectedFile == null && files.length > 0">
  <ion-button [disabled]="navigationStack.length == 0" (click)="back()"
    >Go Back</ion-button
  >

  <!--  <select (change)="listFiles($event.target.value)">
    <option *ngFor="let folderId of recentFolders" [value]="folderId">
      {{ folderId }}
     </option>
  </select>-->

  <ion-list>
    <ion-item *ngFor="let file of files" (click)="checkFile(file)">
      <ion-label>{{ file.name }}</ion-label>
    </ion-item>
  </ion-list>
</div>

<div *ngIf="selectedFile !== null">
  <!--<img
    *ngIf="selectedFile.mimeType.startsWith('image/')"
    [src]="selectedFile"
    width="100%"
  />-->

  <img
    *ngIf="selectedFile.mimeType.startsWith('image/')"
    [src]="selectedImage"
    width="100%"
  />

  <video *ngIf="selectedFile.mimeType.startsWith('video/')" controls>
    <source
      [src]="getFileUrl(selectedFile)"
      type="{{ selectedFile.mimeType }}"
    />
  </video>
</div>
