<ion-header>
    <ion-toolbar>
      <ion-title> Your Cart</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    
      <p *ngIf="!service.shop.cart.lineItems || service.shop.cart.lineItems.length === 0">
         Your cart is empty.
      </p>
      <div *ngIf="service.shop.cart.lineItems.length">
        <ion-list>
          <ion-item *ngFor="let it of service.shop.cart.lineItems; index as idx">
            {{it.title}} - {{it.variant.price.amount}} {{it.variant.price.currencyCode}}
          
              <app-quantity-shop-comp [itemidx]="idx"></app-quantity-shop-comp>
  
              <ion-button (click)="service.shop.removeItem(it)">X</ion-button>

          </ion-item>
        </ion-list>

        <p>Subtotal: {{service.shop.cart.paymentDue.amount}} {{service.shop.cart.paymentDue.currencyCode}}</p>

        <ion-button (click)="service.shop.openCheckout()">Continue to Checkout</ion-button>
      </div>
  </ion-content>