<h1>Stores</h1>

<ion-content>
  <app-refresher></app-refresher>
</ion-content>

<ion-select [(ngModel)]="filterSite" (ngModelChange)="getProducts()">
  <ion-select-option
    [value]="site"
    *ngFor="let site of sites; let sidx = index"
    >{{ site.name }}</ion-select-option
  >
</ion-select>

{{ message }}<br />

<ion-button (click)="addProduct()">Add product</ion-button>

<!--<ng-template #productTemplate let-data="context">
  <p>Product Template</p>
  {{ data | json }}
</ng-template>-->

<ng-template #productTemplate let-modal>
  <app-tabs
    [tabs]="productTabs"
    (onSubmit)="closeModal(modal, $event)"
  ></app-tabs>
</ng-template>
