<h3>Gallery</h3>

<!--<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let image of images">
        <ion-img [src]="image"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>-->

<ion-button *ngIf="params.isEditable" (click)="addImages()"
  >Add Images</ion-button
>

<ion-content>
  <ion-searchbar
    [(ngModel)]="searchQuery"
    debounce="500"
    placeholder="Search images..."
    showClearButton="focus"
  ></ion-searchbar>

  <ion-grid>
    <ion-row>
      <ion-col
        *ngFor="let image of filteredImages()"
        size="6"
        size-md="4"
        size-lg="3"
      >
        <ion-card (click)="openLightbox(image)">
          <img [src]="image.url" [alt]="image.alt" lazy-load />
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--<ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreImages($event)">
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="Loading more images..."
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>-->

  <ion-modal [isOpen]="lightboxOpen" (didDismiss)="closeLightbox()">
    <ng-template>
      <div class="modal-content">
        <!--<ion-button class="close-button" (click)="closeLightbox()">Close</ion-button>-->

        <!-- Left Navigation Button -->
        <ion-button
          *ngIf="images.length > 1"
          class="nav-button left"
          (click)="prevImage()"
        >
          <ion-icon name="chevron-back"></ion-icon>
        </ion-button>

        <!-- Image Display -->
        <ion-img
          [src]="currentImage?.url"
          [alt]="currentImage?.alt"
          (swipeleft)="nextImage()"
          (swiperight)="prevImage()"
        ></ion-img>

        <!-- Right Navigation Button -->
        <ion-button
          *ngIf="images.length > 1"
          class="nav-button right"
          (click)="nextImage()"
        >
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-button>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>

<ng-template #imageTemplate let-modal>
  <p>Image Component</p>

  <app-image
    [setParams]="{ type: 'library', siteId: params?.siteId }"
    (callback)="handleSelectImage($event)"
  ></app-image>

  <ion-button (click)="service.modal.dismissTop()">Done</ion-button>
</ng-template>
