.slide-content {
  position: absolute;
  margin: 0 auto;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
}

.main-slide {
  display: flex;
  justify-content: center; // Horizontally center
  align-items: center; // Vertically center
  width: 100%; // Example width
}

.main-slide img {
  object-fit: contain;
  height: 100%;
  max-width: 70%;
}

#mainSlider {
  height: 70%;
}

#thumbsSlider {
  height: 30%;
}

@media (max-width: 992px) {
  .main-slide img {
    max-width: 100%;
  }

  #mainSlider {
    height: auto;
  }
}
