.slide-content {
  position: absolute;
  margin: 0 auto;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
}

.main-slide {
  display: flex;
  justify-content: center; // Horizontally center
  align-items: center; // Vertically center
  width: 100%; // Example width
}

.main-slide img {
  object-fit: contain;
  height: 100%;
  max-width: 70%;
}

#mainSlider {
  height: 70%;
}

/* Hero Sider Theme */
#mainSlider.hero {
  h1 {
    font-size: 15vw;
    color: white;
  }

  p {
    color: white;
    font-size: 3vw;
  }
  img.slide-image {
    height: 100%;
    object-fit: cover !important;
    display: block;
    max-width: 100%;
    opacity: 0.8;
  }

  .slide-content {
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
  }

  .swiper-zoom-container {
    max-height: 80vh;
  }

  overflow: hidden;
  background-color: black;
}

#thumbsSlider {
  height: 30%;
}

@media (max-width: 992px) {
  .main-slide img {
    max-width: 100%;
  }

  #mainSlider {
    height: auto;
  }
}
