<div id="footer">
  <div id='footer-wrap'>
    <ion-row>
      <ion-col size="9">
          <a [routerLink]="['/privacy-policy']">Privacy Policy</a><br>
          <a [routerLink]="['/refund-policy']">Refund Policy</a><br>
          <a [routerLink]="['/shipping-policy']">Shipping Policy</a><br> 
          <a [routerLink]="['/about-us']">About Us</a><br>
          <a [routerLink]="['/contact-us']">Contact Us</a><br>
          <a [routerLink]="['/terms-and-conditions']">Terms and Conditions</a>
      </ion-col>
      <ion-col class="col-2">
        <a href="https://www.facebook.com/obscurasolutions" target="_blank" class="social-icon-link"><ion-icon name="logo-facebook" class="social-icon"></ion-icon></a>
        
        <a href="https://www.facebook.com/obscura.solutions" target="_blank" class="social-icon-link"><ion-icon name="logo-instagram" class="social-icon"></ion-icon></a>
        
      </ion-col>
    </ion-row>
      <div id="copyright-notice">
        Copyright Obscura Solutions {{ currentYear }}
      </div>
      
  </div>
</div>