<div id="footer">
  <div id='footer-wrap'>
      <a [routerLink]="['/privacy-policy']">Privacy Policy</a><br>
      <a [routerLink]="['/refund-policy']">Refund Policy</a><br>
      <a [routerLink]="['/shipping-policy']">Shipping Policy</a><br> 
      <a [routerLink]="['/about-us']">About Us</a><br>
      <a [routerLink]="['/contact-us']">Contact Us</a><br>
      <a [routerLink]="['/terms-and-conditions']">Terms and Conditions</a>

      <div id="copyright-notice">
        Copyright Obscura Solutions {{ currentYear }}
      </div>
  </div>
</div>