
<!--Load module if one is active-->
<div *ngIf="isActiveModule && !isSettings" class="ion-padding">
  

  <div
    *ngFor="let module of modules; let midx = index"
    class="module-container"
  >
    <div *ngIf="module.name == activeModule.name" class="module">
    
    <div *ngIf="service.auth.isLoggedIn" class="admin-panel">
    <ion-button size="small" (click)="callDynamicMethod('edit')">
      <ion-icon name="create"></ion-icon>
      Edit
    </ion-button>
    <ion-button size="small" (click)="showSettings()">
    <ion-icon name="cog-outline"></ion-icon>
    Settings</ion-button>
    <ion-button size="small" (click)="removeModule(); openLibrary()">
    <ion-icon name="grid-outline"></ion-icon>
    Change</ion-button>
    
  </div>
    
    
      <app-dynamic-wrapper
      #dynamicMod
        [component]="module.component"
        [params]="activeModule.params"
      ></app-dynamic-wrapper>
    </div>
  </div>
</div>


<!-- Load module library if none active-->
<ng-template #libraryTemplate let-modules="context">
  <ion-header>
    <ion-toolbar>
      <ion-title>Modules Library</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="admin-panel">
    <ion-button (click)="isActiveModule = true; loadActiveModule(); service.modal.dismiss()"
      >Cancel</ion-button
    >
  </div>

  <div class="ion-padding">
    <p>Select a module below</p>

    <ion-grid>
      <ion-row>
        <ion-col size="4" *ngFor="let module of modules; let i = index">
          <ion-button
            [disabled]="module.component == null"
            class="module-button"
            expand="block"
            (click)="selectModule(module)"
          >
            <ion-icon
              name="{{ module.icon }}"
              slot="start"
              class="module-icon"
            ></ion-icon>
            <div slot="start" class="module-title">{{ module.title }}</div>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ng-template>


<!-- Show module settings-->
<ng-template #settingsTemplate let-activeModule="context">

  <ion-header>
    <ion-toolbar>
      <ion-title>Module settings</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="admin-panel">
    <ion-button (click)="closeSettings()">Cancel</ion-button>
  </div>

  <p>Module settings here</p>
  
  <div *ngIf="activeModule.params">

  {{ activeModule.params | json }}

  <app-form-comp
    [params]="activeModule.params"
    [el]="activeModule.params.settings.form"
    (callback)="handleSettingsCallback($event)"
  ></app-form-comp>
  
 </div>
</ng-template>


<!-- This is to create dynamic component for module -->
<ng-template #dynamicComponentContainer></ng-template>
