<!-- Load module library if none active-->
<div *ngIf="!isActiveModule && service.auth.isLoggedIn && !isSettings">
  <ion-header>
    <ion-toolbar>
      <ion-title>Modules Library</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="admin-panel">
    <ion-button (click)="isActiveModule = true; loadActiveModule()"
      >Cancel</ion-button
    >
  </div>

  <div class="ion-padding">
    <p>Select a module below</p>

    <ion-grid>
      <ion-row>
        <ion-col size="4" *ngFor="let module of modules; let i = index">
          <ion-button
            [disabled]="module.component == null"
            class="module-button"
            expand="block"
            (click)="selectModule(module)"
          >
            <ion-icon
              name="{{ module.icon }}"
              slot="start"
              class="module-icon"
            ></ion-icon>
            <div slot="start" class="module-title">{{ module.title }}</div>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>

<!--Load module if one is active-->
<div *ngIf="isActiveModule && !isSettings" class="ion-padding">
  <div *ngIf="service.auth.isLoggedIn" class="admin-panel">
    <ion-button (click)="showSettings()">Settings</ion-button>
    <ion-button (click)="removeModule()">Change</ion-button>
  </div>

  <div
    *ngFor="let module of modules; let midx = index"
    class="module-container"
  >
    <div *ngIf="module.name == activeModule.name" class="module">
      <app-dynamic-wrapper
        [component]="module.component"
        [params]="activeModule.params"
      ></app-dynamic-wrapper>
    </div>
  </div>
</div>

<!-- Show module settings-->
<div *ngIf="isSettings && service.auth.isLoggedIn">
  <ion-header>
    <ion-toolbar>
      <ion-title>Module settings</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="admin-panel">
    <ion-button (click)="applySettings()">Done</ion-button>
    <ion-button (click)="isSettings = false">Cancel</ion-button>
  </div>

  <p>Module settings here</p>

  {{ activeModule.params | json }}

  <app-form-comp
    [params]="activeModule.params"
    [el]="activeModule.params.settings.form"
    (callback)="handleSettingsCallback($event)"
  ></app-form-comp>
</div>

<ng-template #dynamicComponentContainer></ng-template>
