<ion-app>
  <ion-menu menuId="main" side="start" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item *ngFor="let page of Pages; let i = index">
          <div class="menu-container">
            <ion-menu-toggle auto-hide="false">
              <ion-item
                (click)="activeIndex = i; activePageTitle = page.title"
                routerDirection="root"
                [routerLink]="[page.url]"
                [queryParams]="getSearchParams(false)"
                lines="none"
                detail="false"
                [class.selected]="activeIndex == i"
              >
                <ion-icon
                  slot="start"
                  [ios]="page.icon + '-outline'"
                  [md]="page.icon + '-sharp'"
                ></ion-icon>
                <ion-label>{{ page.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>

            <!--  
           <ion-item-group *ngIf="i == 0">
              
            <div class="ion-padding" slot="content">
             <ion-menu-toggle><ion-item routerDirection="root" [routerLink]="['/shop/mushroom']" lines="none">
                <ion-icon slot="start" name="bowling-ball-outline"></ion-icon>
                <ion-label>Fungi</ion-label> 
              </ion-item></ion-menu-toggle>
              <ion-menu-toggle><ion-item routerDirection="root" [routerLink]="['/shop/anti-ageing']" lines="none">
                <ion-icon slot="start" name="heart-outline"></ion-icon>
                <ion-label>Anti-Ageing</ion-label> 
              </ion-item></ion-menu-toggle>
              <ion-menu-toggle><ion-item routerDirection="root" [routerLink]="['/shop/coffee']" lines="none">
                <ion-icon slot="start" name="cafe-outline"></ion-icon>
                <ion-label>Coffee</ion-label> 
              </ion-item></ion-menu-toggle>
              <ion-menu-toggle><ion-item routerDirection="root" [routerLink]="['/shop/natural-supplements']"  lines="none">
                <ion-icon slot="start" name="nutrition-outline"></ion-icon>
                <ion-label>Natural Supplements</ion-label> 
              </ion-item></ion-menu-toggle>
              <ion-menu-toggle><ion-item routerDirection="root" [routerLink]="['/shop/vegan']" lines="none">
                <ion-icon slot="start" name="leaf-outline"></ion-icon>
                <ion-label>Vegan</ion-label> 
              </ion-item></ion-menu-toggle>
              <ion-menu-toggle><ion-item routerDirection="root" [routerLink]="['/shop/organic']" lines="none">
                <ion-icon slot="start" name="flower-outline"></ion-icon>
                <ion-label>Organic</ion-label> 
              </ion-item></ion-menu-toggle>
              <ion-menu-toggle><ion-item routerDirection="root" [routerLink]="['/shop/ayurvedic']" lines="none">
                <ion-icon slot="start" name="rose-outline"></ion-icon>
                <ion-label>Ayurvedic</ion-label> 
              </ion-item></ion-menu-toggle>
            </div>

          </ion-item-group>-->
          </div>
        </ion-item>

        <ion-menu-toggle auto-hide="false">
          <ion-item
            (click)="activePageTitle = 'About Us'"
            [routerLink]="['/about-us']"
            [class.selected]=""
            ><ion-label>About Us</ion-label></ion-item
          >
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item
            (click)="activePageTitle = 'Contact Us'"
            [routerLink]="['/contact-us']"
            [class.selected]=""
            ><ion-label>Contact Us</ion-label></ion-item
          >
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!--
  <ion-menu menuId="cart" side="end" contentId="main-content">
    <ion-content class="ion-padding">
      <app-shop-cart></app-shop-cart>
    </ion-content> </ion-menu>
  -->

  <div class="ion-page">
    <ion-header class="main-header">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button menu="main"></ion-menu-button>
        </ion-buttons>
        <ion-title
          ><img
            src="/assets/logo.svg"
            id="logo"
            width="100"
            height="auto"
            alt="Obscura Solutions"
        /></ion-title>

        <!--  <ion-buttons slot="end">
          <ion-menu-button menu="cart">
            <ion-icon *ngIf="cartLength == 0" name="cart-outline"></ion-icon>
            <ion-icon *ngIf="cartLength > 0" name="cart-sharp"></ion-icon>
          </ion-menu-button>
        </ion-buttons>-->
      </ion-toolbar>
    </ion-header>

    <ion-router-outlet id="main-content"></ion-router-outlet>

    <!--<ion-footer>
        <ion-toolbar>
          <ion-title>Copyright Obscura Solutions</ion-title>
        </ion-toolbar>
      </ion-footer>-->
  </div>
</ion-app>
