<ion-accordion-group>
    
  <ion-accordion *ngFor="let item of list">
    <ion-item slot="header" color="light">
      <ion-label>{{item.title}}</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      {{item.content}}
    </div>
  </ion-accordion>


  <ion-accordion value="second">
    <ion-item slot="header" color="light">
      <ion-label>If I'm not satisfied with the product, can I return it?</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      Absolutely, your satisfaction is our priority. We offer a hassle-free return policy within 30 days, allowing you to return the product for a full refund or exchange if it doesn't meet your expectations. Simply contact our customer support team to initiate the return process, and we'll guide you through the steps to ensure your complete satisfaction.
    </div>
  </ion-accordion>
  <ion-accordion value="third">
    <ion-item slot="header" color="light">
      <ion-label>Are there any precautions I should take when taking supplements?</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      While supplements are generally safe for most individuals, it's advisable to consult with a healthcare professional before starting any new supplement regimen, especially if you have underlying health conditions or are taking medications. Additionally, follow the recommended dosage instructions provided on the product label, and discontinue use if you experience any adverse reactions. Keep supplements out of reach of children and store them in a cool, dry place.  
    </div>
  </ion-accordion>
  <ion-accordion value="fourth">
    <ion-item slot="header" color="light">
      <ion-label>When should I except to receive my order?</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      We strive to process and ship orders promptly to ensure timely delivery. Typically, you can expect to receive your order within 5-10 days, depending on your location and chosen shipping method. Once your order has been dispatched, you'll receive a confirmation email with tracking information to monitor the status of your delivery.
    </div>
  </ion-accordion>
  <ion-accordion value="fifth">
    <ion-item slot="header" color="light">
      <ion-label>Who can I contact if I don't receive my order</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      If you encounter any issues with your order delivery, our dedicated customer support team is here to assist you every step of the way. Please reach out to us via <a href="mailto:contact@obscura.solutions">contact@obscura.soltions</a>, and provide your order details. We'll promptly investigate the matter and work to resolve any issues to ensure you receive your order as soon as possible.
    </div>
  </ion-accordion>
  <ion-accordion value="sixth">
    <ion-item slot="header" color="light">
      <ion-label>Can I track my order?</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      Absolutely! Once your order has been processed and shipped, you'll receive a confirmation email containing a tracking number and instructions on how to track your package. Simply follow the provided link or enter the tracking number on our website to monitor the real-time status of your delivery.
    </div>
  </ion-accordion>
  <ion-accordion value="seventh">
    <ion-item slot="header" color="light">
      <ion-label>Who do I contact about this product?</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      If you have any inquiries or require assistance regarding our product offerings, our knowledgeable customer support team is readily available to address your concerns. Please don't hesitate to reach out to us via <a href="mailto:contact@obscura.solutions">contact@obscura.solutions</a>, and we'll be happy to provide you with detailed information and guidance regarding our products.
    </div>
  </ion-accordion>
  
</ion-accordion-group>
