<ng-template #iniTemplate let-data="context">
  <p>Choose an image from the following options</p>

  <ion-buttons>
    <ion-button (click)="doGallery()">Pexels Gallery</ion-button>
    <ion-button (click)="doUpload()">Upload Image</ion-button>
    <!--<ion-button (click)="doGoogleDrive()">Google Drive</ion-button>-->
    <ion-button (click)="doCustom()">Custom Url</ion-button>
  </ion-buttons>

  <ion-grid *ngIf="showGallery">
    <ion-row>
      <ion-col
        size="6"
        size-md="3"
        *ngFor="let image of data"
        (click)="selectImage(image)"
      >
        <ion-thumbnail class="image-thumbnail">
          <img [src]="image.src.medium" alt="File Thumbnail" />
        </ion-thumbnail>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="showUpload">
    <p>Upload an image</p>
    <input
      type="file"
      (change)="onFileSelected($event)"
      accept="image/jpeg, image/png, image/svg+xml"
    />

    <div *ngIf="imageUrl">
      <p>Uploaded Image:</p>
      <img [src]="imageUrl" alt="Uploaded Logo" width="150" />
    </div>
  </div>

  <div *ngIf="showCustom">
    <p>
      Paste your image url here. Make sure it is publicly available and that you
      have permission to use it.
    </p>
    <ion-input
      #customUrl
      type="text"
      [(ngModel)]="params.url"
      placeholder="Enter Custom URL"
    ></ion-input>

    <ion-button (click)="selectImage(customUrl.value)">Update</ion-button>
  </div>
</ng-template>

<div *ngIf="isEditing" class="admin-panel">
  <ion-button (click)="iniModule()">Choose Image</ion-button>
  <ion-button *ngIf="params.url !== ''" (click)="removeImage()"
    >Delete Image</ion-button
  >
</div>

<img
  (click)="changeImage($event)"
  [src]="params['url']"
  style="display: block; width: 100%; height: auto"
/>
