<ion-header>
  <ion-toolbar>
    <ion-title>{{ data.title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" class="inverse clear" (click)="dismiss()"
        ><ion-icon name="close"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<form (ngSubmit)="submitForm()">
    <ion-item *ngFor="let f of formatData(); let idx = index">
      <ion-label >{{ fields[f].name }}</ion-label>
      <ion-input
        *ngIf="fields[f].type == 'text'"
        [(ngModel)]="fields[f].value"
        [name]="fields[f].name"
        [placeholder]="fields[f].placeholder"
      ></ion-input>

      <ion-toggle
        *ngIf="fields[f].type == 'boolean'"
        [(ngModel)]="fields[f].value"
        [name]="fields[f].name"
        [checked]="fields[f].value"
      >
        <ion-label>{{ fields[f].description }}</ion-label>
      </ion-toggle>
    </ion-item>

    <ion-button class="center" type="submit">Save</ion-button>
  </form>-->

  <app-form-comp *ngIf="fields.length" (callback)="dismiss($event)" [el]="{action: 'returnform', fields: fields}"></app-form-comp>
</ion-content>
